---
import { Image } from 'astro:assets';

import Layout from '../layouts/Layout.astro';

import dianaPhoto from '../assets/images/diana-photo.png';
---

<Layout title="Diana Navarro">
  <main class="homeMain">
    <section class="homeMain__hero">
      <div class="heroContent">
        <h1 class="heroContent__title">Diana Navarro</h1>
        <p class="heroContent__position">Frontend engineer</p>
        <p class="heroContent__description">
          I'm a software engineer who loves frontend development with seven
          years of experience in the field, especially in startups enviroments.
        </p>
      </div>
      <div class="heroImage">
        <Image class="heroImage__photo" src={dianaPhoto} alt="Diana Navarro" />
      </div>
    </section>
  </main>
</Layout>

<style lang="scss">
  @import '../assets/styles/mixins.scss';

  .homeMain {
    &__hero {
      align-items: center;
      display: flex;
      gap: 80px;
      justify-content: space-between;

      .heroContent {
        flex: 1;

        &__title {
          @include font-style(neutral-00, 56, bold);
          margin: 0 0 20px;
        }

        &__position {
          @include font-style(neutral-00, 24, bold);
          margin: 0 0 16px;
        }

        &__description {
          @include font-style(neutral-00, 18);
          font-size: 18px;
        }
      }

      .heroImage {
        flex: 1;

        &__photo {
          background-color: #eae5e1;
          border-radius: 50% 0;
          border: 1px solid #eae5e1;
          height: 300px;
          width: 300px;
        }
      }
    }
  }

  @media (max-width: 480px) {
    .homeMain {
      &__hero {
        flex-direction: column-reverse;
      }
    }
  }
</style>
