<footer class="footer">
    <nav class="footer__content">
        <a href="/">
            <img alt="Github"/>
        </a>
        <a href="/">
            <img alt="LinkedIn"/>
        </a>
    </nav>
</footer>

<style lang="scss">
    .footer {
        &__content {
            display: flex;
            gap: 16px;
            justify-content: center;
            margin: auto;
            max-width: var(---max-width);
        }
    }
</style>