<header class="header">
	<div class="header__content">
		<a class="name" href="/">Diana Navarro</a>
	</div>
</header>

<style lang="scss">
	@import '../assets/styles/mixins.scss';

	.header {
		background-color: var(--color-neutral-80);

		&__content {
			@include max-content();
			align-items: center;
			display: flex;
			height: 70px;
			justify-content: space-between;

			.name {
				color: var(--color-neutral-00);
				font-size: 22px;
				font-weight: bold;
				text-decoration: none;
			}
		}
	}
</style>