<header class="header">
	<div class="header__content">
		<a class="name" href="/">Diana Navarro</a>
	</div>
</header>

<style lang="scss">
	.header {
		&__content {
			align-items: center;
			display: flex;
			height: 70px;
			justify-content: space-between;
			margin: auto;
			max-width: var(---max-width);
			
			.name {
				font-size: 22px;
				font-weight: bold;
				text-decoration: none;
			}
		}
	}
</style>